.popup__save-button {
    margin: 48px auto 37px;
    padding: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    color: white;
    line-height: normal;
    font-size: 18px;
    font-weight: normal;
    transition: opacity 0.3s linear;
}

.popup__save-button:hover {
    opacity: 0.8;
}

@media screen and (max-width: 600px) {
    .popup__save-button {
        margin: 45px auto 25px;
        width: 100%;
        font-size: 14px;
    }
}