.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    width: 282px;
    height: 361px;
}